body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .information {
	background: #222;
	color: #999;
}